################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RuPost.Tests/packages
/RuPost.Tests/RuPost.Tests/bin/Debug
/RuPost.Tests/.vs/RuPost.Tests/v14/.suo
/RuPost.Tests/RuPost.Tests/obj/Debug
